<h1>Edit Workout:</h1>

<%= form_for @workout do |f| %>
  <%= f.label :name, "Workout Name:" %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :total_time, "Select the Total Time for Your Workout:"%><br>
  <%= f.select :total_time, [['5 minutes', 5],
  ['10 minutes',10], ['15 minutes', 15],
  ['20 minutes',20], ['25 minutes', 25],
  ['30 minutes',30]] %><br><br>

  <%= f.label :description, "Add an optional short description:" %><br>
  <%= f.text_area :description %><br><br>

  <%= f.label :rating, "Rating" %><br>
  <%= f.label :rating, "1 Star:" %>
  <%= f.radio_button :rating, 1%>
  <%= f.label :rating, "2 Stars:" %>
  <%= f.radio_button :rating, 2%>
  <%= f.label :rating, "3 Stars:" %>
  <%= f.radio_button :rating, 3%>
  <%= f.label :rating, "4 Stars:" %>
  <%= f.radio_button :rating, 4%>
  <%= f.label :rating, "5 Stars:" %>
  <%= f.radio_button :rating, 5%><br><br>

  <%= f.submit %>
<% end %>
