<h1><%=@workout.user.name%>'s <%= @workout.name.titleize %> Workout</h1>
A <%= @workout.function.titleize %> Workout Schedule

<p>Type: <%= @workout.form.titleize %>-Focused</p>

<% if @workout.rating != nil %>
  <p>Rating: <%= @workout.rating %></p>
<% end %>

<p>Total Time: <%= @workout.total_time %> minutes</p>

<p>Exercises:</p>

<ol>
<% @workout.exercises.each do |ex| %>
<li><%= link_to ex.name, ex %><br>
  <%= link_to "Replace and Shuffle", @workout.replace(ex) %>
</li><br>
<% end %>
</ol>

<%= link_to "Go Back", user_path(@workout.user) %>
