<div class="profile-page">
  <div class="profile-title" id="workout">
<h1><%=@workout.user.name%>'s <%= @workout.name.titleize %> Workout</h1>
</div>
<div class="login-status">
  <strong>Logged in as:</strong> <%= link_to @workout.user.name, @workout.user %>  |  <%= link_to "Log Out", logout_path, method: :delete %>
</div>
<div class="workout-details">
A <%= @workout.function.titleize %> Workout Schedule

<p><strong>Type:</strong> <%= @workout.form.titleize %>-Focused</p>

<% if @workout.rating != nil %>
  <p><strong>Rating:</strong> <%= @workout.rating %> Stars</p>
<% end %>

<p><strong>Total Time:</strong> <%= @workout.total_time %> minutes</p>

<p><strong>Description:</strong> <%= @workout.description %></p>

<strong>Exercises:</strong> <%= @workout.exercises.count %> total
<div id="links-somewhere">
<%= link_to "Edit Workout", edit_workout_path %><br>
</div>

</div>
<div class="workout-show-page-box">
<ol>
<% @workout.exercises.each do |ex| %>
  <div class="workout-box">
    <%= link_to ex.name, ex %><br>
<% if ex.form == "strength" %>5 sets x 5 reps<% else %>3 sets x 15 reps<% end %>
  </div>
<% end %>
</ol>
</div>
<footer id="work">
  FitTime &copy 2019
</footer>
</div>
