<div class="landing_page">
    <div class="login-wrapper">
    <div class="logo">
      <h1>FitTime</h1>
    </div>

    <% if flash[:error] %>
      <h2><%= flash[:error] %></h2>
    <% end %>

    <div class="form-wrapper">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.text_field :name, placeholder: "Enter Your Name", autocomplete: :off %><br><br>

      <%= f.password_field :password, placeholder: "Enter Your Password" %><br><br>
    </div>
    <div class="button-wrapper">
      <%= f.submit "Get Fit!" %><br>
    <% end %><br>
    </div>
    <%= link_to "Sign Up", "/signup" %>
  </div>
  <footer>
    FitTime &copy 2019
  </footer>
</div>
