<h1>Create Your New Workout:</h1>

<%= form_for @workout, :url => create_workout_path do |f| %>
  <%= f.label :name, "Workout Name:" %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :total_time, "Select the Total Time for Your Workout:"%><br>
  <%= f.select :total_time, [['5 minutes', 5],
  ['10 minutes',10], ['15 minutes', 15],
  ['20 minutes',20], ['25 minutes', 25],
  ['30 minutes',30]] %><br><br>

  <%= f.label :description, "Add an optional short description:" %><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
