<div class="profile-page">
  <div class="profile-title">
    <h2>Profile Page</h2>
  </div>
  <div class="button-profile-page">
  <%= link_to "<button>Create a Workout</button>".html_safe, create_new_workout_path %>
  </div>

<div class="login-status">
  <strong>Logged in as:</strong> <%= link_to User.find(session[:user_id]).name, User.find(session[:user_id]) %>  |  <%= link_to "Log Out", "/logout", method: :delete %>
</div>



<div class="exercise-entire-box">
<% @user.workouts.each do |workout| %>
<div class="workout-box">
<strong><%= workout.name %></strong>: <%= workout.total_time %> minute workout:
<%= link_to "View", workout %> or <%= link_to "Delete", workout, method: :delete,
data: { confirm: "Are you sure?" } %>
</div>
<% end %>
</ul>
</div>
<footer>
  FitTime &copy 2019
</footer>
</div>
