<h1>Welcome, <%= @user.name %>, to your profile</h1>

<%= link_to "<button>Create a Workout</button>".html_safe, create_new_workout_path %>

<ul>
<% @user.workouts.each do |workout| %>
<li>
<strong><%= workout.name %></strong>
<ul>
<li><%= link_to "View", workout %></li>
<li><%= link_to "Delete", workout, method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
<% end %>
</ul>


<%= link_to "Log Out", logout_path, method: :delete %>
