<h1>Edit Exercise</h1>

<%= form_for @exercise do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :form %><br>
  <%= f.text_field :form %><br>

  <%= f.label :function %><br>
  <%= f.text_field :function %><br>

  <%= f.label :time %><br>
  <%= f.number_field :time %><br>

  <%= f.label :muscle_one %><br>
  <%= f.text_field :muscle_one %><br>

  <%= f.label :muscle_two %><br>
  <%= f.text_field :muscle_two %><br>

  <%= f.label :equipment %><br>
  <%= f.text_field :equipment %><br>

  <%= f.label :comment %><br>
  <%= f.text_field :comment %><br>

  <%= f.label :body_part %><br>
  <%= f.text_field :body_part %><br>

  <%= f.label :instructions %><br>
  <%= f.text_field :instructions %><br><br>

  <%= f.submit %>
<% end %>
