<h1><%= @exercise.name %></h1>

<p>Type: <%= @exercise.form %></p>

<p>Time: <%= @exercise.time %> minutes</p>

<p>Function: <%= @exercise.function %></p>

<p>Instructions: <%= @exercise.instructions.html_safe %><p>
